body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color:#eb85a2;
    transition: background-color 0.3s; 
}

header {
    background: #921A40;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
}
nav .nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    
}

.logo h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.logo h1:hover {
    color: orange;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    padding: 0.5rem 0;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: orangered;
}

nav ul li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

.cta-button {
    background: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cta-button:hover {
    background: #e65c00;
    color: yellow;
}

.cta-button a {
    text-decoration: none;
    color: white;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    animation: fadeIn 1s ease-in;
}

.one {
    text-align: center;
    color: rgb(126, 3, 64);
    font-weight: 100;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.project {
    margin-bottom: 2rem;
    background: #D9ABAB;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgb(129, 7, 82);
    animation: sideInUp 0.7s ease-in-out;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: bold;
}

.project img {
    height: auto;
    border: 1px white;
    max-width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    animation: sideInUp 0.7s ease-in-out;
}

.project:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.project:hover img {
    transform: scale(1.05);
}

#contact{
  background:#D9ABAB;
  border-radius:15px;
  color:black;
  border: 1px solid rgb(129, 7, 82);
}
footer {
    background: #F4D9D0;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: center;
  margin-top:10px;
  font-weight: bold;
}

a {
    color: orangered;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

a:hover {
    color: black;
}

@media(max-width:600px) {
    nav ul {
        flex-direction: column;
        background-color: hotpink;
        padding: 0;
    }
    nav ul li {
        margin: 0.5rem 0;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}